.style-0 {
  background-image: url(https://designresources.assets.yotako.io/40599uljgvvpb3p.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 375px;
  height: 698px;
  flex-direction: column
}
.style-53 {
  color: #9f9f9f;
  font-family: georgia,serif;
  font-size: .3125em;
  margin-left: 8px;
  margin-top: 9px;
  height: 5px
}
.style-52 {
  margin-left: 343px;
  margin-top: 2px;
  width: 6px;
  height: 8px
}
.-image-0-row-2 {
  display: flex;
  margin-left: 8px;
  margin-top: 15px;
  width: 307px;
  height: 4px;
  align-items: stretch;
  justify-content: space-between
}
.style-51 {
  color: #9f9f9f;
  font-family: georgia,serif;
  font-size: .3125em
}
.style-43,
.style-44,
.style-45,
.style-46,
.style-47,
.style-48,
.style-49,
.style-50 {
  color: #2e2e2e;
  font-family: georgia,serif;
  font-size: .3125em
}
.style-43 {
  color: #333;
  font-size: .8125em;
  margin-left: 8px;
  margin-top: 26px;
  height: 14px
}
.-image-0-row-4 {
  display: flex;
  margin-left: 262px;
  margin-top: 0;
  width: 102px;
  height: 4px;
  align-items: stretch
}
.style-36,
.style-39,
.style-40,
.style-41,
.style-42 {
  color: #999;
  font-family: georgia,serif;
  font-size: .3125em;
  margin-left: 0
}
.style-36,
.style-39,
.style-40,
.style-42 {
  color: #fff;
  margin-left: 37px
}
.style-36,
.style-39,
.style-42 {
  color: #999;
  margin-left: 8px;
  margin-top: 0;
  height: 5px
}
.style-36,
.style-39 {
  color: #333;
  font-size: .8125em;
  margin-top: 75px;
  height: 27px
}
.style-36 {
  color: #fff;
  font-size: .5em;
  margin-left: 242px;
  margin-top: 0;
  height: 6px
}
.style-37,
.style-38 {
  font-family: georgia,serif;
  font-size: .375em
}
.style-38 {
  line-height: 10px;
  width: 131px;
  color: #666;
  margin-left: 8px;
  margin-top: 2px
}
.style-37 {
  color: #fff;
  margin-left: 11px;
  margin-top: 11px;
  height: 4px
}
.-image-0-row-10 {
  display: flex;
  margin-left: 220px;
  margin-top: 71px;
  width: 119px;
  height: 6px;
  align-items: stretch
}
.style-32,
.style-35 {
  color: #fff;
  font-family: georgia,serif;
  font-size: .375em;
  margin-left: 0
}
.style-32 {
  margin-left: 65px
}
.-image-0-row-11 {
  display: flex;
  margin-left: 206px;
  margin-top: 16px;
  width: 148px;
  height: 6px;
  align-items: stretch
}
.style-31,
.style-34 {
  color: #09f;
  font-family: georgia,serif;
  font-size: .375em;
  margin-left: 0
}
.style-31 {
  margin-left: 36px
}
.-image-0-row-12 {
  display: flex;
  margin-left: 193px;
  margin-top: 6px;
  width: 172px;
  height: 29px;
  align-items: stretch
}
.style-30,
.style-33 {
  color: #666;
  text-align: center;
  font-family: georgia,serif;
  font-size: .3125em;
  line-height: 9px;
  margin-left: 0;
  width: 80px
}
.style-30 {
  margin-left: 12px
}
.-image-0-row-13 {
  display: flex;
  margin-left: 220px;
  margin-top: 23px;
  width: 119px;
  height: 6px;
  align-items: stretch
}
.style-26,
.style-29 {
  color: #fff;
  font-family: georgia,serif;
  font-size: .375em;
  margin-left: 0
}
.style-26 {
  margin-left: 65px
}
.-image-0-row-14 {
  display: flex;
  margin-left: 206px;
  margin-top: 16px;
  width: 148px;
  height: 6px;
  align-items: stretch
}
.style-25,
.style-28 {
  color: #09f;
  font-family: georgia,serif;
  font-size: .375em;
  margin-left: 0
}
.style-25 {
  margin-left: 36px
}
.-image-0-row-15 {
  display: flex;
  margin-left: 193px;
  margin-top: 6px;
  width: 172px;
  height: 29px;
  align-items: stretch
}
.style-24,
.style-27 {
  color: #666;
  text-align: center;
  font-family: georgia,serif;
  font-size: .3125em;
  line-height: 9px;
  margin-left: 0;
  width: 80px
}
.style-24 {
  margin-left: 12px
}
.-image-0-row-16 {
  position: relative;
  display: flex;
  margin-top: 27px;
  width: 326px;
  height: 14px;
  align-items: flex-end;
  align-self: center
}
.style-23 {
  color: #333;
  font-size: .8125em;
  margin-left: 0;
  height: 100%;
  flex-shrink: 0
}
.style-21,
.style-22,
.style-23 {
  font-family: georgia,serif
}
.style-21 {
  text-shadow: 1px 1px 1px rgba(192,116,118,.5);
  position: relative;
  flex-shrink: 0;
  color: #e6e6e6;
  font-size: .625em;
  margin-left: 35px;
  height: 8px
}
.style-22 {
  color: #333;
  font-size: .4375em;
  margin-left: 23px;
  margin-top: 3px;
  height: 7px
}
.-image-0-row-18 {
  display: flex;
  margin-left: 8px;
  margin-top: 42px;
  width: 305px;
  height: 4px;
  align-items: stretch
}
.style-13,
.style-16,
.style-20,
.style-8 {
  color: #fff;
  font-family: georgia,serif;
  font-size: .3125em;
  margin-left: 0
}
.style-13,
.style-16,
.style-8 {
  margin-left: 69px
}
.style-13,
.style-8 {
  margin-left: 63px
}
.style-8 {
  margin-left: 45px
}
.-image-0-row-19 {
  display: flex;
  margin-left: 8px;
  margin-top: 8px;
  width: 299px;
  height: 97px
}
.style-19 {
  color: #f8f8f8;
  font-family: georgia,serif;
  font-size: .375em;
  font-weight: 500;
  margin-left: 27px;
  margin-top: 17px;
  height: 5px
}
.style-14,
.style-15,
.style-18 {
  font-family: georgia,serif;
  font-size: .3125em
}
.style-18 {
  margin-top: 45px;
  color: #666;
  line-height: 8px;
  margin-left: 0;
  width: 77px
}
.style-14,
.style-15 {
  color: #989898;
  line-height: 10px;
  margin-left: 15px;
  width: 2px;
  align-self: stretch
}
.style-14 {
  color: #09f;
  margin-left: 4px;
  width: 63px
}
.-image-0-row-19-column-3 {
  position: relative;
  display: flex;
  margin-left: 24px;
  width: 83px;
  height: 95px;
  align-self: center;
  flex-direction: column
}
.style-12 {
  color: #666;
  font-family: georgia,serif;
  font-size: .3125em;
  font-weight: 500;
  line-height: 9px;
  margin-top: 0;
  width: 100%;
  align-self: stretch;
  flex-shrink: 0
}
.style-11 {
  color: #09f;
  position: relative;
  margin-left: 59px;
  margin-top: 6px;
  height: 4px
}
.style-10,
.style-11,
.style-9 {
  font-family: georgia,serif;
  font-size: .3125em;
  flex-shrink: 0
}
.style-10 {
  font-weight: 500;
  line-height: 9px;
  width: 100%;
  align-self: stretch;
  color: #666;
  margin-top: 4px
}
.style-9 {
  color: #09f;
  position: relative;
  margin-left: 59px;
  margin-top: 6px;
  height: 4px
}
.-image-0-row-19-column-4 {
  display: flex;
  margin-left: 13px;
  margin-top: 4px;
  width: 19px;
  height: 51px;
  flex-direction: column
}
.style-4,
.style-5,
.style-6,
.style-7 {
  color: #989898;
  font-family: arial,serif;
  font-size: .3125em;
  font-weight: 700;
  margin-top: 0;
  height: 4px
}
.style-4,
.style-5,
.style-6 {
  margin-top: 11px
}
.style-4,
.style-5 {
  height: 5px
}
.style-17,
.style-3 {
  font-family: georgia,serif;
  font-size: .3125em;
  margin-top: 0;
  height: 4px
}
.style-3 {
  font-weight: 500;
  color: #fff;
  margin-left: 287px
}
.style-17 {
  color: #09f;
  margin-left: 66px
}
.-image-0-row-22 {
  display: flex;
  margin-top: 27px;
  width: 360px;
  height: 5px;
  align-items: stretch;
  align-self: center
}
.style-1,
.style-2 {
  color: #666;
  font-family: georgia,serif;
  font-size: .3125em;
  margin-left: 0
}
.style-1 {
  margin-left: 184px
}